/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "scss/main.scss";

html,
body {
  font-weight: 400;
  margin: 0;
  background-color: $bage-primary;
  font-family: "Open Sans", sans-serif;
}
